@{
    ViewBag.Title = "Home Page";
}


@if (ViewBag.FitbitConnected == false)
{ 
    <h2>Welcome </h2>
    <p>Please connect your Fitbit account <a href="/Fitbit/Authorize">here</a>.</p>
}
else
{ 
    <p>Welcome Fitbit User <b>@Session["FitbitUserId"].ToString()</b></p>
    <ul>
        <li><a href="/Fitbit/LastWeekActiveScore">View Last Week Active Score</a></li>
    </ul>
    
}

